{% extends "portal/base_home.html" %}

{% block title %}
Danh sách câu lạc bộ
{% endblock %}

{% block content %}
<h1>Danh sách Câu Lạc Bộ</h1>

{% if clubs %}
<table class="table">
    <thead>
        <tr>
            <th>Tên CLB</th>
            <th>Lĩnh vực</th>
            <th>Khoa</th>
            <th>Trạng thái</th>
        </tr>
    </thead>

    <tbody>
        {% for club in clubs %}
        <tr>
            <td>{{ club.name }}</td>
            <td>{{ club.field|default:"-" }}</td>
            <td>{{ club.faculty|default:"-" }}</td>
            <td>
                {% if club.status == "active" %}
                    🔵 Đang hoạt động
                {% else %}
                    🔴 Tạm dừng
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<p>Hiện chưa có câu lạc bộ nào.</p>
{% endif %}

{% endblock %}
